.manage-schedule-container {
    .m-s-title {
        margin: 15px 0;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        color: #0071ba;
    }

    .pick-hour-container {
        padding: 20px;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        .btn-schedule {
            border: 1px solid gray;
            padding: 5px 10px;

            &.active {
                background-color: orange;
                color: #fff;
            }
        }
    }
}
