.send {
    border-radius: 8px;
    background-color: #2ccacc;
    border: none;
    outline: none;
    width: 80px;
}
.cancel {
    border-radius: 8px;
    width: 80px;
    border: none;
    outline: none;
}
