.doctor-schedule-container {
    border-right: 1px solid #8d8c8c;
    height: 100%;
    .all-schedule {
        padding-top: 10px;
        select {
            padding-bottom: 5px;
            text-transform: capitalize;
            color: #06b1c4;
            outline: none;
            border: none;
            border-bottom: 1px solid #76dae6;
            cursor: pointer;
            font-weight: 600;
        }
    }

    .all-available-time {
        // border-right: 1px solid #8d8c8c;
        .text-calendar {
            padding-left: 3px;
            margin: 10px 0;
            color: #333;

            span {
                margin-left: 5px;
                text-transform: uppercase;
                font-weight: 600;
            }
        }

        .time-content {
            display: flex;
            gap: 15px;
            flex-wrap: wrap;
            .time-content-btns {
                display: flex;
                gap: 15px;
                flex-wrap: wrap;
                button {
                    padding: 8px 10px;
                    border: none;
                    outline: none;
                    background-color: #76dae6;
                    // min-width: 120px;
                    border-radius: 3px;

                    &:hover {
                        background-color: #fff04b;
                    }
                }
                .btn-vi {
                    min-width: 120px;
                }

                .btn-en {
                    min-width: 160px;
                }
            }
        }
    }
}
