.profile-doctor-container {
    .intro-doctor {
        display: flex;
        justify-content: space-between;

        .content-left {
            width: 80px;
            height: 80px;
            // margin: 10px 20px;
            border-radius: 999px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .content-right {
            width: 90%;
            display: flex;
            flex-direction: column;
            padding-left: 10px;

            .up {
                font-size: 18px;
                font-weight: 600;
                color: #0ab1c4;
            }

            .down {
                padding-top: 5px;
                text-align: justify;
                text-transform: capitalize;
            }
        }
    }
    .view-detail-doctor {
        a {
            color: #0ab1c4 !important;
            &:hover {
                border: none;
                text-decoration: none;
            }
        }
    }
}
