.login-background {
    height: 100vh;
    background-color: #f7ed35;
    background-image: linear-gradient(
        45deg,
        #f7ed35 0%,
        #08aeea 50%,
        #35dc46 100%
    );

    .login-title {
        position: absolute;
        margin: auto;
        top: -137px;
        bottom: 0;
        right: 0;
        left: 47px;
        width: 350px;
        height: 350px;
        color: #fff;
    }

    .login-container {
        position: absolute;
        margin: auto;
        padding-bottom: 10px;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 350px;
        height: 360px;
        background-color: #fff;
        border-radius: 30px;
        box-shadow: 0 45px 63px rgba(0, 0, 0, 0.26);

        .form-control {
            height: 40px;
            border: 3px solid #e5e5e5;
            border-bottom-width: 2px;
            box-shadow: 0 -2px 0px rgba(4, 4, 4, 0.19) inset,
                0 3px 6px rgba(214, 214, 214, 0.3);
            border-radius: 30px;
        }

        .login-content {
            margin: 10px;

            .text-login {
                padding-top: 10px;
                text-align: center;
                font-weight: 600;
                font-size: 24px;
            }

            .login-input {
                margin: 7px 0px;

                label {
                    margin: 0 0 3px 16px;
                    font-weight: 600;
                }

                .custom-input {
                    position: relative;

                    i {
                        position: absolute;
                        right: 5px;
                        top: 14px;
                        color: #ccc;
                        cursor: pointer;
                        margin-right: 13px;
                    }
                }
            }

            .login-btn {
                display: flex;
                justify-content: center;
                .btn-login {
                    margin-top: 25px;
                    width: 50%;
                    height: 30px;
                    outline: none;
                    border: none;
                    border-radius: 999px;
                    color: #fff;

                    background-image: linear-gradient(
                        to right,
                        #1a2980 0%,
                        #26d0ce 51%,
                        #1a2980 100%
                    );
                    text-align: center;
                    text-transform: uppercase;
                    transition: 0.5s;
                    background-size: 200% auto;
                    color: white;
                    box-shadow: 0 0 20px #eee;
                    display: block;

                    &:hover {
                        background-position: right center; /* change the direction of the change here */
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }

            .forgot-password {
                display: flex;
                justify-content: center;
                margin-top: 3px;

                span {
                    font-size: 12px;
                    color: #ccc;
                    &:hover {
                        cursor: pointer;
                        color: #000;
                    }
                }
            }

            .text-other-login {
                font-size: 13px;
            }

            .social-login {
                display: flex;
                text-align: center;
                justify-content: center;
                margin-top: 10px;
                margin-bottom: 5px;

                .google {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                    width: 40px;
                    height: 40px;
                    background-color: #ef162b;
                    border-radius: 50%;
                    font-size: 20px;
                    color: #fff;
                }

                .facebook {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    background-color: #215db6;
                    border-radius: 50%;
                    font-size: 16px;
                    color: #fff;
                }
            }
        }
    }
}
