.login-background {
    height: 100vh;
    background-image: linear-gradient(135deg, #81ffef 10%, #f067b4 100%);

    .login-container {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 350px;
        height: 450px;
        background-color: #fff;
        border-radius: 20px;

        .login-content {
            padding: 10px;

            .text-login {
                padding-top: 10px;
                text-align: center;
                font-weight: 600;
                font-size: 24px;
            }

            .login-input {
                margin: 7px 0;

                .custom-input-password {
                    position: relative;

                    i {
                        position: absolute;
                        right: 5px;
                        top: 10px;
                        cursor: pointer;
                    }
                }
            }

            .btn-login {
                margin: 10px 0;
                width: 100%;
                height: 30px;
                background-image: linear-gradient(
                    135deg,
                    #81ffef 10%,
                    #f067b4 100%
                );
                outline: none;
                border: none;
                border-radius: 999px;
                color: #fff;
            }

            .forgot-password {
                font-size: 12px;
            }

            .social-login {
                display: flex;
                text-align: center;
                justify-content: center;
                margin-top: 10px;

                .google {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                    width: 40px;
                    height: 40px;
                    background-color: #ef162b;
                    border-radius: 50%;
                    font-size: 20px;
                    color: #fff;
                }

                .facebook {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    background-color: #215db6;
                    border-radius: 50%;
                    font-size: 16px;
                    color: #fff;
                }
            }
        }
    }
}
