.section-body {
    .section-customize {
        .wrap {
            display: flex;
            justify-content: center;
        }

        .name {
            text-align: center;
        }
    }
    .clinic-child {
        cursor: pointer;

        .bg-image.section-medical-facility {
            width: 150px !important;
            height: 150px !important;
            background-size: contain !important;
            border-radius: 10px !important;
            border: 1px solid #1c3385;
            background-color: #fff !important;
            box-shadow: 2px 2px 2px #000;
        }

        .clinic-name {
            padding: 10px 0;

            &:hover {
                color: #45c3d2;
            }
        }
    }
}
