.outer-bg {
    .bg-image.section-outstanding-doctor {
        width: 150px !important;
        height: 150px !important;
        border-radius: 99px !important;
    }
}
.position {
    padding-top: 10px;
}
