.section-specialty {
    .specialty-child {
        cursor: pointer;
        .section-specialty {
            background-size: contain !important;
            background-color: #fff !important;
            border: 1px solid #1c3385;
            box-shadow: 2px 2px 2px #000;
        }
        .specialty-name {
            padding: 10px 0;
            text-align: center;

            &:hover {
                color: #76dae6;
            }
        }
    }
}
