.verify-email-container {
    .infor-booking {
        margin-top: 80px;
        font-size: 31px;
        font-weight: 700;
        color: #af1212;
        letter-spacing: 3px;
        text-shadow: 2px 2px #26e1e3;
        text-align: center;
        text-transform: uppercase;
    }
}
