.home-header-container {
    width: 100%;
    height: 60px;
    padding: 0 20px;
    position: sticky !important;
    top: 0;
    z-index: 100;
    background: #fff;
    background-image: linear-gradient(
        to right,
        #1a2980 0%,
        #26d0ce 51%,
        #1a2980 100%
    );
    height: 60px;
    position: relative;
    transition: 1s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 40px #4c4444;

    &:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;

        .left-content {
            display: flex;
            width: 25%;
            align-items: center;

            .header-logo {
                background: url(../../assets/logo1.svg) center center no-repeat;
                width: 100%;
                height: 100%;
                cursor: pointer;
            }
            i {
                font-size: 25px;
                color: gray;
                cursor: pointer;
            }
        }

        .center-content {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .child-content {
                .subs-title {
                    font-weight: 400px;
                    font-size: 12px;
                }
            }
        }

        .right-content {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 25%;

            .support {
                padding-right: 50px;
                display: flex;
                align-items: center;
                cursor: pointer;

                i {
                    margin-right: 5px;
                    font-size: 15px;
                }
            }

            .language-vi {
                margin: 0 5px;
                color: #aaa;
                cursor: pointer;

                &.active {
                    color: rgb(225, 46, 6);
                }
            }

            .language-en {
                margin: 0 5px;
                color: #aaa;
                cursor: pointer;

                &.active {
                    color: rgb(25, 81, 204);
                }
            }
        }
    }
}

.home-header-banner {
    height: 480px;
    background: url(../../assets/background.png) no-repeat;

    background-size: cover;
    background-position: 50% 35%;
    display: flex;
    flex-direction: column;

    .content-up {
        height: 65%;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.25),
            rgba(255, 255, 255, 0.1)
        );
        .title1 {
            margin-top: 35px;
            margin-bottom: 5px;
            font-size: 40px;
            color: #fff;
            text-align: center;
            text-shadow: 2px 2px 2px #333;
        }

        .title2 {
            font-size: 40px;
            font-weight: 700;
            color: #fff;
            text-align: center;
            text-shadow: 2px 2px 2px #333;
        }

        .search {
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            margin: 40px auto;
            padding: 10px;
            border-radius: 999px;
            background: #fff;

            i {
                margin: 0 5px;
                cursor: pointer;

                &:hover {
                    color: #fff;
                }
            }

            input {
                width: 360px;
                height: 30px;
                background: transparent;
                border: none;
                outline: none;
            }
        }
    }

    .content-down {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 35%;
        background-image: linear-gradient(
            rgba(255, 255, 255, 0.1),
            rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 1)
        );
        padding-bottom: 15px;

        .options {
            text-align: center;
            display: flex;
            gap: 50px;
            justify-content: center;
            // align-items: flex-end;

            .option-child {
                width: 95px;

                .icon-child {
                    margin: 0 auto;
                    padding: 10px;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    border-radius: 50%;
                    background: #fff;

                    i {
                        color: #49bce2;
                        font-size: 20px;
                    }
                }

                .text-child {
                    font-size: 15px;
                    font-weight: 600;
                    cursor: pointer;

                    &:hover {
                        color: #49bce2;
                    }
                }
            }
        }
    }
}
