.slick-arrow {
    border-radius: 99px;
    opacity: 0.7;

    &:hover {
        opacity: 1;
    }
}
.slick-prev {
    // position: relative !important;
    left: -20px !important;
    z-index: 10 !important;
    height: 40px !important;
    width: 40px !important;
    background: #fff !important;
    border: 2px solid #d3f6fb !important;
    top: 39% !important;

    &:hover {
        background: #fff !important;
    }
}

.slick-next:before,
.slick-prev:before {
    font-family: FontAwesome !important;
    color: #1f468e !important;
}

.slick-next {
    right: -10px !important;
    z-index: 10 !important;
    height: 40px !important;
    width: 40px !important;
    background: #fff !important;
    border: 2px solid #d3f6fb !important;
    top: 39% !important;

    &:hover {
        background: #fff !important;
    }
}

.slick-disabled {
    display: none !important;
}

.section-share {
    &.section-specialty {
        background-color: #ffffff;
        background-image: linear-gradient(
            0deg,
            #ffffff 0%,
            #c4f3f9 50%,
            #ffffff 100%
        );
    }

    &.section-medical-facility {
        // background-color: #ffffff;
        // background-image: linear-gradient(
        //     0deg,
        //     #ffffff 0%,
        //     #c4f3f9 50%,
        //     #ffffff 100%
        // );
    }

    &.section-outstanding-doctor {
        background-color: #ffffff;
        background-image: linear-gradient(
            0deg,
            #ffffff 0%,
            #c4f3f9 50%,
            #ffffff 100%
        );
    }

    &.section-about {
        background-color: #ffffff;
        background-image: linear-gradient(
            0deg,
            #ffffff 0%,
            #c4f3f9 50%,
            #ffffff 100%
        );
    }

    .section-body {
        .section-customize {
            cursor: pointer;
            .bg-image {
                width: 300px;
                height: 150px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #eee;
                border-radius: 20px;

                &.section-specialty {
                    // background-image: url(../../assets/specialty/co-xuong-khop.jpeg);
                }

                &.section-medical-facility {
                    // background-image: url(../../assets/medical-facility/benh-vien-thu-cuc.jpeg);
                }

                &.section-outstanding-doctor {
                    // background-image: url(../../assets/outstanding-doctor/doctor.jpeg);
                    width: 120px;
                    height: 120px;
                }

                &.section-handbook {
                    background-image: url(../../assets/handbook/handbook.jpeg);
                }
            }
        }
    }
}

.section-share {
    height: 330px;

    .section-container {
        margin: 0 100px;

        .section-header {
            margin-bottom: 30px;
            padding-top: 30px;
            height: 60px;

            .title-section {
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 1px;
                text-shadow: 1px 1px 1px #07daf6;
                color: #1c3284;
                border-bottom: 1px solid #1c3284;
            }

            .btn-section {
                display: block;
                float: right;
                padding: 10px 15px;
                height: 40px;
                outline: none;
                border: none;
                border-radius: 999px;
                color: #dadbe3;

                background-image: linear-gradient(
                    to right,
                    #1a2980 0%,
                    #26d0ce 51%,
                    #1a2980 100%
                );
                text-align: center;
                text-transform: uppercase;
                transition: 0.5s;
                background-size: 200% auto;
                box-shadow: 0 0 20px #eee;

                &:hover {
                    background-position: right center; /* change the direction of the change here */
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}

.section-outstanding-doctor {
    .outer-bg {
        display: flex;
        justify-content: center;

        .bg-image {
            border-radius: 50%;
        }
    }
}

.home-footer {
    text-align: center;
    padding-top: 8px;

    a {
        text-decoration: none;
    }
}

.section-about {
    .section-about-header {
        padding: 20px 0;
        font-size: 20px;
        font-weight: 600;
    }

    .section-about-content {
        display: flex;
        width: 100%;
        gap: 15px;

        .content-left {
            width: 60%;
        }

        .content-right {
            width: 40%;

            p {
                padding: 15px;
                text-align: justify;
                font-style: italic;
            }
        }
    }
}
